.container{:style=>"width:820px; margin:0 auto;"}
  .content
    .hero-unit
      %h2
        = @title
      %p{:style => "font-size: 14px;"}
        Resetting my password will send you an email with a rest password link
      .inlineblock
        - [:notice, :error, :message, :success].each do |key|
          - unless flash[key].blank? then
            %div{ :class => "alert-message block-message #{key}" }
              = flash[key]
        = form_for(:session, :url => sendresetpasswordlink_path) do |f|
          .field
            = f.label :email
            = f.text_field :email
          .actions
            = f.submit "Reset Password", :class => "btn primary"

