.container{:style=>"width:820px; margin:0 auto;"}
  .content
    .hero-unit
      %h2
        = @title
      %p{:style => "font-size: 14px;"}
        Please type the password:
      .inlineblock
        - [:notice, :error, :message, :success].each do |key|
          - unless flash[key].blank? then
            %div{ :class => "alert-message block-message #{key}" }
              = flash[key]
        = form_for @user, :url => { :controller => "users", :action => "updatepassword"} do |f|
          .field
            = f.label :name
            = f.text_field :name , :disabled => true
          .field
            = f.label :email
            = f.text_field :email, :disabled => true
          .field
            = f.label :Password
            = f.password_field :password
          .field
            = f.label :password_confirmation, "Confirmation"
            = f.password_field :password_confirmation
          .actions
            = f.submit "Reset Password", :class => "btn primary"

