= form_for(@user)  do |f|
  - if @user.errors.any?
    .alert.alert-error
      %h5 Please correct the error below:
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :password
    = f.password_field :password
  .field
    = f.label :password_confirmation, "Confirmation"
    = f.password_field :password_confirmation

  = submit_tag "Submit", :class => "btn primary"