%header
  .navbar
    .navbar-inner
      .container
        %a.brand{:href => "/"} Lose it!
        %ul.nav
          %li{:class => currentpage(root_path)}
            %a{:href => "/"} Home
          %li{:class => currentpage(about_path)}
            %a{:href => "/about"} About
          %li{:class => currentpage(contact_path)}
            %a{:href => "/contact"} Contact

        .admin
          %ul.nav
            - if signed_in?
              %li
                %div{:style=>"display:inline-block;"}
                  = gravatar_for current_user, :size => 20 , :style => "display:inline-block;"
                  %strong{:style => "display:inline-block;", :id => "namelink"}
                    = link_to current_user.name, "/members/#{current_user.member_id}"
                = link_to "Sign out", signout_path, :method => :delete, :style => "display:inline-block;"
            - else
              %li= link_to "Sign in", signin_path